<div>
 <div class="header"><h1 class="shadow">The voting results</h1></div>
    <% @option.each do |names| %>
        <div class="option">
        <span><%= names.name%>   : 
        <%= names.tally %> </span>
        </div>
    <% end %>
</div>
<footer>   
 <h2><a href=/poll/index>Home Page</a></h2>
 </footer>

     

