<div>
 <div class="header"><h1 class="shadow">The voting results</h1></div>
    <% @option.each do |names| %>
        <div class="option">
        <span><%= names.name%>   : 
        <%= names.tally %> </span>
        </div>
    <% end %>
</div>   

     

