// Place all the styles related to the poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.option {
    background-color: yellow;
    position: relative;
    margin:10px;
    padding:5px;
    height: auto;
    width: 20em;
    box-shadow:2px 2px 8px black;
    text-align: left;
    overflow: hidden;
    font-family: 'creepster' cursive;
    font-size: 12pt;
    justify-items: left;
}

.thecheck {
   position: absolute;
   top: -3px;
   right: 5px;
   border-radius:30px;
   padding: 5px;
   height:25px;
   width:30px;
   display: inline-block
}

// .columns {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     text-align:center;
//     position: relative;
//     justify-items:center;
// }

.form {
    border:2px solid black;
    display:inline-block;
    padding:10px;

}